{% extends "base.html" %}
{% block content %}

<div class="content">
    <div class="chapter">
        <div class="chapter-title"> Getting Started with HTML </div>
            <div class="lesson">
                <div class="lesson-title"> Lesson 1 - Summary </div>
                    <div class="notion">
                        <div class="notion-title">How the web works</div>
                        <div class="notion-description">
         The web is formed of <em>millions</em>, yes you read it correctly, millions of pages written in HTML that are interconnected. These files are stored on servers and interpreted with the aid of <b>browsers</b>, which also display them.</div>
                    </div>
                    <div class="notion">
                        <div class="notion-title">HTML</div>
                        <div class="notion-description">
        HTML <em>or</em> <b>Hypertext Markup Language</b> stands at the basis of all the web pages that you access daily. This language helps the computer understand what you are trying to tell it to do.</div>
                    </div>
                    <div class="notion">
                        <div class="notion-title">Tags and elements</div>
                        <div class="notion-description">
        HTML is formed of a series of tags and elements. You can consider HTML just like you would any other language and these tags are the equivalent of letters from the alphabet. Some of these tags include "b" for bold and "u" for underline. If  you want to find more about these tags and elements you can do that via Google.</div>
                    </div>
            </div>
            <div class="lesson">
                <div class="lesson-title">Lesson 2 - Summary</div>
                    <div class="notion">
                        <div class="notion-title"> What makes computers stupid? </div>
                        <div class="notion-description">
        Computers are not as smart as you thought. Yes, they are powerful pieces of technology, but they are no where near as smart as human beings Computers are unable to correct mistakes, you need to be careful when writing your code because otherwise it might not work. <br><br><center><em><u>What you write is what you get!!!!</u></em></center></div>
                    </div>
                    <div class="notion">
                        <div class="notion-title">Inline versus Block elements </div>
                        <div class="notion-description">
         Inline are elements such as the tag for bold or image. Block elements are those like the paragraph tag, which create something similar to an invisible box that contains the text or whatever is inside inside.</div>
                    </div>
            </div>
            <div class="lesson">
                <div class="lesson-title"> Lesson 3 - Summary</div>
                    <div class="notion">
                        <div class="notion-title">HTML as web pages</div>
                        <div class="notion-description">
        After learning some of the most commonly used tags, it is important to start looking at all the code lines as being like any other web page out there. </div>
                    </div>
                    <div class="notion">
                        <div class="notion-title"> Web Pages as HTML</div>
                        <div class="notion-description">
        We need to start looking at existing, as well as new/future web pages as being composed of rectangular elements aka boxes.At times, the elements on the page might seem round or having any other shape, but they are always rectangular. <br><br><center><b>The elements in a web page are always rectangular! </b></center></div>
                    </div>
                    <div class="notion">
                        <div class="notion-title">Tree structure </div>
                        <div class="notion-description">
        Having a well-defined structure is really important and makes it easier for the code to be revised at a later time as well as for it to be read and understood by another person. Organization is key. <br><br>The tree structure is formed of all the tags comprised by the code. </div>
                    </div>
                    <div class="notion">
                        <div class="notion-title"> HTML and CSS  </div>
                        <div class="notion-description">
         While coding, redundancy should be avoided and that is what CSS helps us do.  HTML gives us the letters of the alphabet we work with, but CSS gives us the style and help us avoid specifying it for each and every tag or element. </div>
                    </div>
            </div>
            <div class="lesson">
                <div class="lesson-title"> Lesson 4 - Summary </div>
                    <div class="notion">
                        <div class="notion-title"> What is CSS?  </div>
                        <div class="notion-description">
        CSS or Cascading Style Sheet is a programming language that gives style to our HTML and ensures that we avoid unnecessary repletion. </div>
                    </div>
                    <div class="notion">
                        <div class="notion-title">Why should we avoid repetition/ add CSS? </div>
                        <div class="notion-description">
        Repetition results in many more lines of code, which makes it more difficult to follow, read and revise.</div>
                    </div>
                    <div class="notion">
                        <div class="notion-title"> How do we add CSS?</div>
                        <div class="notion-description">
        There are different methods of applying CSS to our HTML. 
        <ul>
          <li>We can either add the "style" tag inside the header.
          </li>
          <li>
            Or we can create a separate CSS file for style and link to it in the header section of our page. 
          </li>
          <li>
            Or we can add it inline with the rest of our code, but this is not recommended, as it does not fulfill its purpose of avoiding repetition. 
          </li>
        </ul>
                    </div>
                </div>
            </div>
    </div>
    <div class="chapter">
    <div class="chapter-title"> Introduction to Python</div>
        <div class="lesson">
            <div class="lesson-title"> Lesson 1 - Summary</div>
            <div class="notion">
                <div class="notion-title"> What is a computer? </div>
                <div class="notion-description">
        A computer is a machine like any other, but one that can do anything we can tell it to do. What that means is that the computer can follow the precise steps of any program we can write. 
                </div>
            </div>
            <div class="notion">
                 <div class="notion-title">What is a program?  </div>
                 <div class="notion-description">
        A program is a series of rules, or precise steps, that if followed lead to the desired result. These programs are written in a programming language. 
                        </div>
                    </div>
            <div class="notion">
                <div class="notion-title">What is a programming language? </div>
                <div class="notion-description">
        A programming language is a language that can be interpreted by a computer, which makes it possible for it to follow the instructions of the code we wrote. There are many programming languages, for example C, Java. 
                </div>
            </div>
            <div class="notion">
                <div class="notion-title">What is an interpreter?  </div>
                <div class="notion-description">
        An interpreter is a program used by a computer to understand the code written in a programming language. 
                        </div>
            </div>
            <div class="notion">
                <div class="notion-title">What is Python? </div>
                <div class="notion-description">
        Python is a programming language with a specific "grammar". 
                </div>
            </div>
            <div class="notion">
                <div class="notion-title">Grammar </div>
                <div class="notion-description">
        Grammar, just like with natural languages, consists of a series of rules and instructions that are meant to be followed in order for the statements to make sense and to be understood. In this it does not refer to natural languages, but to computer programs, but the principle is the same. 
                        </div>
            </div>
            <div class="notion">
                <div class="notion-title"> Python Expressions </div>
                <div class="notion-description">
        A Python expression is a statement written in Python that can be interpreted by the Python Interpreter and in consequence by the computer. In order for the computer to do this, the statement needs to be correct. For example "print 1+1" is a correct statement, but "print 1" is not thus it cannot be interpreted by the computer.
                        </div> 
            </div>
        </div>        
        <div class="lesson">
            <div class="lesson-title"> Lesson 2 - Summary</div>
                <div class="notion">
                    <div class="notion-title">What is a variable in Python? </div>
                    <div class="notion-description">
        A variable is like a box that stores a value. The variable can change its value when referring to it and then it  stores the new value.  
                    </div>
                </div>
                <div class="notion">
                    <div class="notion-title">What does it mean to assign a value to a variable? </div>
                    <div class="notion-description">
        To assign a value to a variable means to store a value in a variable, which does not necessarily has to be a number, it can be a string as well. By calling the variable name, in operations of any kind, it will be replaced by the value stored in that variable. 
                    </div>
                </div>
                <div class="notion">
                    <div class="notion-title">What does (=) mean in programming compared to Maths? </div>
                    <div class="notion-description">
        (=) does not mean equal in programming like it does in mathematics, it is the sign you use to assign a value to a variable. 
                        </div>
                </div>
                <div class="notion">
                    <div class="notion-title"> What are some of the ways variables are useful? </div>
                    <div class="notion-description">
        Variables are useful to confer readability to the code so that it makes it easier for you or someone else to review it later. It is also useful to store large numbers. 
                    </div>
                </div>
                <div class="notion">
                    <div class="notion-title"> What is the difference between 2+2 and strings "2"+"2" ?</div>
                    <div class="notion-description">
        2+2 is an mathematical addition which results in 4, while strings "2"+"2" is a concatenation of strings which results in 22.  
                    </div>
                </div>
            </div>
            <div class="lesson">           
                <div class="lesson-title"> Lesson 3 - Summary</div>
                    <div class="notion">
                        <div class="notion-title">Functions and putting them to good use </div>
                        <div class="notion-description">
        A function is a defined part of a program that performs an operation or procedure. Making a function consists of defining it/writing it to perform a certain wanted operation, while using it is in relation to the output it gives after execution given a certain input. Functions are great at helping one avoid reception due to the fact they can be recalled using different output without having to rewrite the whole piece of code. It is important to note that a function that does not have -return- will not provide an output. 
                        </div>
                    </div>
            </div>
            <div class="lesson"> 
                <div class="lesson-title"> Lesson 4 - Summary</div>
                    <div class="notion">
                        <div class="notion-title">If and While </div>
                        <div class="notion-description">
        <b>If</b> is a function that performs an operation only if the expression we are testing is true compared to <b>while</b> which runs the code in a loop for as long as the expression evaluated is true. The while loop can be stopped with the aid of a break statement. The insertion of a break statement closes the loop and the code outside the while loop will be executed next. 
                        </div>
                    </div>
            </div>
            <div class="lesson">          
                <div class="lesson-title"> Lesson 5 - Summary</div>
                    <div class="notion">
                        <div class="notion-title">Debugging</div>
                        <div class="notion-description">
        Debugging is an important step and a skill that is required for writing good code. The first thing to check when coding in Python is the last line of traceback, which shows us, what the error was. Checking for intermediate results is also a good idea because it helps us figure out where exactly the error occurred and it can help avoid frustrations. We should keep old versions and not rely on the undo button which might or might not exist depending on the application in which we have written our code the best way to keep old version is by keeping the code lines as comments and that also helps us stop the differences between the new and old code and maybe learn from our mistakes? <br><br>When working on examples is best to make sure the example works first and then understand what it does before attempting to make changes to it. 
                        </div>
                    </div>
            </div>
        <div class="lesson">
            <div class="lesson-title"> Lesson 6 - Summary </div>
                <div class="notion">
                    <div class="notion-title"> Structured data</div>
                    <div class="notion-description">
        Examples of structured data include lists and strings. They are both collections. The main difference between a string and a list is that a string is a collection of characters while a list can be a collection of anything, including a collection of other lists.
                        </div>
                    </div>
            <div class="notion">
                <div class="notion-title"> Mutations</div>
                <div class="notion-description">
        Another difference between strings and lists is that lists support mutations. Mutation implies changing the value of a list after it was created while with strings we cannot do that. Any modification in case of a string leads to a variable referring to a new string, but in case of the list the variable will refer to the same modified list.  
                </div>
            </div>
            <div class="notion">
                <div class="notion-title">The difference between (append) and (+)</div>
                <div class="notion-description">  
        Append adds an element at the end of a list, no matter what the element is and that includes a list. So with append we can add another list as an element of an existing list. With (+) we concatenate two lists.  
                </div>
            </div>
        </div>
        <div class="lesson">
            <div class="lesson-title"> Lesson 7 - Summary</div>
                <div class="notion">
                    <div class="notion-title">How to solve a problem </div>
                    <div class="notion-description">
        In order to solve a problem we need to understand it, can be done by worked examples, we need to determine what goes in, the inputs and what comes out, the outputs as well as to determine the function or procedure that will transforms the inputs into the desired outputs.  
                    </div>
                </div> 
        </div>
    </div>
    <div class="chapter">
    <div class="chapter-title"> Introduction to Object Oriented Programming </div>
        <div class="lesson">
            <div class="lesson-title"> Lesson 1 - Summary </div>
            <div class="notion">
                <div class="notion-title">Object Oriented Programming 
                    </div>
                <div class="notion-description">
        Object Oriented Programming is a programing model that deals with objects as a whole, that manipulates objects as entities rather than a series of inputs, procedures and outputs. More information can be found <a href="http://searchsoa.techtarget.com/definition/object-oriented-programming">here</a>. OOP is used to avoid repetition while writing code and also makes it easier to make changes to an already written program when something needs to be modified or new features need to be added.  It is particularly useful when used for large projects due to its modularity. Functions with the same purpose are grouped together; they are easier to move around and that makes it possible for more people to work on different parts of a project. Also, this ability to move object around and not having to worry about the details and only about their implementation can lead to faster software development. 
                </div>
            </div>
            <div class="notion">
                <div class="notion-title">Abstraction
                    </div>
                <div class="notion-description">
        Through abstraction we are able to treat the modules used in OOP as black-boxes as we do not need to be concerned with all the characteristics and/or how all the functions encapsulated in the module work. 
                </div>
            </div>
            <div class="notion">
                <div class="notion-title">Use of functions
                    </div>
                <div class="notion-description">
        Each module contains a series of functions that makes it possible to perform certain tasks. There are predefined functions that are part of the standard library of the programming language that we are using e.g The Python Standard Library for Python. Details about these functions can be found in the documentation, but we do not need to know all the details about the functions in order to use them as they behave the same way each time they are being used. 
                </div>
            </div>
        </div>
    <div class="lesson">
        <div class="lesson-title"> Lesson 2 - Summary </div>
            <div class="notion">
                <div class="notion-title">What is a class?
                </div>
                <div class="notion-description">
        A class is similar to a blueprint and it contains a set of information regarding the object or instance that can be build using that class. Usually these classes are built in such way that they can accomplish only one thing and they can contain both data and methods. 
                </div>
            </div>
            <div class="notion">
                <div class="notion-title">What is an Object? 
                    </div>
                <div class="notion-description">
        An object is a combination of data structures, variables and functions. An object is a certain instance of a class. 
                </div>
            </div>
        <div class="notion">
            <div class="notion-title">What is an Instance?  </div>
            <div class="notion-description">
         An instance is a specific object or example that can be built using a certain class. 
            </div>
        </div>
        <div class="notion">
            <div class="notion-title">What is a method?</div>
            <div class="notion-description">
        In OOP a method is a procedure associated with a class. 
            </div>
        </div>
        <div class="notion">
            <div class="notion-title">What is a module?</div>
            <div class="notion-description">
        A module is OOP is a file that is considered an entity with its details hidden, as they are not important for the correct functioning of the object, but the module interacts with the entire system through a series of prescribed methods. By calling these functions we get the desired output without knowing exactly what is happening behind the scenes. For more info click <a href="http://math.hws.edu/javanotes/c1/s5.html"> here </a>. 
            </div>
        </div>
        <div class="notion">
            <div class="notion-title">What is a library?</div>
            <div class="notion-description">
        A library is a collection of similar things such as a series of pre-written code, classes, functions that are often used in software developing. The library also includes the necessary information on how to use these. 
            </div>
        </div>
    </div>
    <div class="lesson">
        <div class="lesson-title"> Lesson 3 - Summary </div>
            <div class="notion">
                <div class="notion-title">External Libraries</div>
                <div class="notion-description">
        Besides the standard libraries there are other ones, external ones, written by other people. An example of such library is the Twilio lib. 
                    </div>
            </div>
            <div class="notion">
                <div class="notion-title">Documentations</div>
                <div class="notion-description">
        Reading documentations is very important and useful for a programmer as it is impossible to remember each and every function contained in a library. Documentations are huge sources of information that make the use of functions easier by understanding what each does in more detail.       </div>
            </div>
    </div>
    <div class="lesson">
        <div class="lesson-title"> Lesson 4 - Summary </div>
            <div class="notion">
                <div class="notion-title">Constructor
                    </div>
                <div class="notion-description">
        In order to create an instance of a class the class constructor is called. This is the initialization method inside the class. An important keyword of the constructor is /self/. 
                </div>
            </div>
            <div class="notion">
                <div class="notion-title">Instance variables
                    </div>
                <div class="notion-description">
        Instance variables are all the variables associated with a certain instance. In order to access them we need to add self. in front inside the class. They are unique to a class. 
                </div>
            </div>
            <div class="notion">
                <div class="notion-title">Instance methods
                    </div>
                <div class="notion-description">
        Instance methods are all the procedures found inside a class that have the first argument self and are associated with instances. 
                </div>
            </div>
            <div class="notion">
                <div class="notion-title">Inheritance
                    </div>
                <div class="notion-description">
        <p>In OOP Inheritance is useful for reusing code in order to avoid repetition. It makes it possible for new objects to inherit properties from another object. Something similar can be observed with CSS and HTML.</p>
        <p>
        CSS classes can be applied to different chuncks of HTML and these inherit the properties of said classes.If inside the one HTML chunck with a certain class another subclass is assigned then the elements within the child class will no longer inherit the parent's properties, but the child's, all other elemnts outside the child class and inside the parent class will present the parent class properties. </p>
        <p>
        Another important thing to note is abstraction. Abstraction is one of the fundamental principles of OOP which allows us to use classes without having to worry about their content, we just have to undestand how to use them. Abstraction helps with complexity reduction and facilitates implementation. This can be applied to CSS as well. We assign a certain class to an HTML chunck and the properties are reflected. The process can be repeated. By keeping the HTML seperate from the CSS we can easily modify both. This also helps in avoiding repetition. We do not need to worry about the details hidden inside a CSS class when applying it to HTML. The properties are important only when making modifications and these modifications are quickly reflected to all HTML pieces with the CSS class in question. We can also assign HTML a different class wihout having to worry about its content if we wish to do so or the design requires it.  </p>
                </div>
            </div>
            <div class="notion">
                <div class="notion-title">Method overriding 
                    </div>
                <div class="notion-description">
        Method overriding occurs when certain characteristic inherited from the parent class are changed in the child class. When these methods are called, the result differs depending on the class in which they are invoked. When the method is executed in the parent, the initial procedure will be performed, but if in the child class, the new, the overwritten one will be applied.  More information can be found
        <a href="http://www.techopedia.com/definition/24010/overriding">here</a>.
               </div>
           </div>
    </div>
    </div>
    <div class="chapter">
            <div class="chapter-title"> Intro: Allow Comments </div>
            <div class="lesson">
                <div class="lesson-title"> Lesson 1 - Summary </div>
                <div class="notion">
                    <div class="notion-title"> Networks
                    </div>
                    <div class="notion-description">
        A network is a group of entities that can communicate with one another despite the fact that they are not directly connected. The concept is not new though, networks have been referenced in Homer’s work The Iliad.                 
                    </div>
                </div>
                <div class="notion">
                    <div class="notion-title">How can we measure networks?
                    </div>
                    <div class="notion-description">
        Networks can be measured in terms of latency or bandwidth. Latency refers to the time it takes the message to get from one source to the destination and it is measured in miliseconds. Bandwidth refers to the amount of information that can be transmitted per unit time and it is measured in bits per second.                
                    </div>
                </div>
                <div class="notion">
                    <div class="notion-title">What is a bit?
                    </div>
                    <div class="notion-description">
        A bit is the smallest unit of information.                  
                    </div>
                </div>
                <div class="notion">
                    <div class="notion-title">What makes a network? 
                    </div>
                    <div class="notion-description">
        A network must be able to encode and interpret messages, it requires a way of routing the messages as well as some rules that decide who gets to use what resources.                 
                    </div>
                </div>
                <div class="notion">
                    <div class="notion-title">What are protocols?
                    </div>
                    <div class="notion-description">
        Protocols are set of rules that decide how people can talk to each other. For example, the protocol used on the web that makes the communication between a web browser and a server possible is HTTP, which stands for Hypertext Transfer Protocol.                 
                    </div>
                </div>
                <div class="notion">
                    <div class="notion-title">GET and POST methods 
                    </div>
                    <div class="notion-description">
        GET is a method used by the client to make a request to the server and that response is sent back through the POST method. For example, when a person using their browser wants to access some content of a webpage they use the GET method to make the request and the server makes it possible for the browser to display the content by sending it to the browser though the POST method.                 
                    </div>
                </div>
            </div>
            <div class="lesson">
                <div class="lesson-title"> Lesson 2 - Summary </div>
                <div class="notion">
                    <div class="notion-title">URLs
                    </div>
                    <div class="notion-description">
        <p>URLs or Uniform Resource Locator is formed out of a protocol, a host which can be either a domain name or an IP and the path which is what we are trying to fetch. </p>

        <p>Example: “htttp://www.example.com/”</p>

        <p>http is the protocol, www.example.com is the domain and what follows after “/” is the path.</p> 
                    </div>
                </div>
                <div class="notion">
                    <div class="notion-title">Query parameters (GET parameters)
                    </div>
                    <div class="notion-description">
        <p>The parameters are the extra information the server gets when someone make a request for a path. They are separate from the path but they are included in the URL. </p>

        <p>The format of a query parameter is: name=value. The value can be almost anything, but it is best to avoid “?”. The first parameters is separated from the rest of the URL with “?”, but the second parameter is separated from the first with "ampersand" . </p>
                  </div>
                </div>
                <div class="notion">
                    <div class="notion-title">Fragments
                    </div>
                    <div class="notion-description">
        <p>A fragments is used to reference a particular part of a page we are looking at and it is separated from the rest of the URL by the “#” sign.  They can have other uses as well if they are being used together with JS for example. </p>

        <p>When making the request the fragments remain purely in the browser and they are not sent to the server. </p>

        <p><b>NB.</b> We can have both query parameters and fragments, but the fragments must follow the parameter in a URL. </p>
                
                    </div>
                </div>
                <div class="notion">
                    <div class="notion-title"> Port
                    </div>
                    <div class="notion-description">
        A port is needed in order to establish a connection with a machine.  It is part of the URL and it found between the machine name or address and the path. It is separated from the machine name by a column and the default port is 80. 
                    </div>
                </div>
                <div class="notion">
                    <div class="notion-title">HTTP
                    </div>
                    <div class="notion-description">
        HTTP or Hypertext Transfer Protocol is the main protocol of the web and browsers use it in order to connect to the servers.                 
                    </div>
                </div>
                <div class="notion">
                    <div class="notion-title">Browser requests 
                    </div>
                    <div class="notion-description">
        <p>The request of the URL by a browser begins with a request line, which has three main components: the method, the path and the version. The method is what type of request we are making and the most common ones are GET and POST. The path is what we are actually requesting and the version number used is usually 1.1, but in some cases 1.0 is also used. </p>

        <p>For example: GET/ foo HTTP/1.1 – here GET is the method, /foo is the path and 1.1 is the version. </p>
                
                    </div>
                </div>
                <div class="notion">
                    <div class="notion-title">HTTP requests
                    </div>
                    <div class="notion-description">
        <p>HTTP requests consist of the request line, host and user-agent, it is followed by headers and all of this information is sent at once when making the request. </p>

        <p>One example of a header is the user agent which represents who is making the request and it is one of the most important headers in HTTP requests as it can determine who is trying to hurt a website for example. </p>
                
                    </div>
                </div>
                <div class="notion">
                    <div class="notion-title">HTTP Responses 
                    </div>
                    <div class="notion-description">
        <p>A response consists of a status line, a status code and the reason phrase, which is the English translation of the status code plus headers. </p>

        <p>Example: HTTP /1.1 200 OK  - where the version of the status line needs to be the same as that of the request line, 200 is the status code and OK the translation. </p>
                
                    </div>
                </div>
                <div class="notion">
                    <div class="notion-title">Common status codes
                    </div>
                    <div class="notion-description">
        <ul>
            <li>200 OK – means that what we were looking for was found</li>
            <li>02 FOUND – means that what we are looking for is located somewhere else </li>
            <li>404 Not FOUND – what we are looking for was not found</li>
            <li>500 Server Error – server broke while we were trying to get what we were looking for </li>
        </ul>                
                    </div>
                </div>
            </div>
            <div class="lesson">
                <div class="lesson-title"> Lesson 3 - Summary </div>
                <div class="notion">
                    <div class="notion-title">HTML Forms
                    </div>
                    <div class="notion-description">
        Forms allow us to gather information from users and they are easy to create using the "form" html tag. They can have many input lines, which can be customized and also an action button such as “submit”. Unless the information in the form in encoded once the action button is pressed the information will appear as part of the URL and that is why when creating a form we need to make sure the data is secure.                 
                    </div>
                </div>
            </div>
            <div class="lesson">
                <div class="lesson-title"> Lesson 4 - Summary </div>
                <div class="notion">
                    <div class="notion-title">Modulus operator 
                    </div>
                    <div class="notion-description">
        The modulus operator is just like any other operator and it is found in most programming languages. The purpose of this operator is to return the remainder of the division of two numbers.                
                    </div>
                </div>
                 <div class="notion">
                    <div class="notion-title">Dictionaries
                    </div>
                    <div class="notion-description">
        Dictionaries are data structures, very similar to lists. All entries must be key values pairs and they are being accessed by key instead of index which makes them different from lists. The key can a string, an integer, a point number, tuples but not dictionaries or lists to name a few, while the value can be anything. One of the most important properties of a dictionary is that it is mutable which makes it possible to add or remove key value pairs or just change the value of a key.  However, the elements in a dictionary are not ordered and when printed they can show up in any random order.                 
                    </div>
                </div>
            </div>
            <div class="lesson">
                <div class="lesson-title"> Lesson 5 - Summary </div>
                <div class="notion">
                    <div class="notion-title">GET vs POST
                    </div>
                    <div class="notion-description">
        <table>
            <tr>
                <td><br>GET</b></td>
                <td><br>POST</b></td>
            </tr>
            <tr>
                <td>Parameters are in URL</td>
                <td>Parameters are in body</td>
            </tr>
            <tr>
                <td>Used for fetching data</td>
                <td>Used for updating data</td>
            </tr>
            <tr>
                <td>Maxim length is the maximum URL length</td>
                <td>No maximum length, but the serve can be configured to impose one and it real life usually does</td>
            </tr>
            <tr>
                <td>Okay to Cache</td>
                <td>Not okay to cache as it is used for updating data </td>
            </tr>
            <tr>
                <td>Should not change the server</td>
                <td>Okay to change the server </td>
            </tr>
        </table>       
        <p> GET and POST are both methids used in request-response type of communications that occur over HTTP. GET is used by the client to submit a request and the information sent to the server is included in the URL so it is not very safe, while POST is used by the server to send a response back to the client and it is safer than GET because the information is not stored in the URL and it not saved in the browser history either. 
        </p>         
                    </div>
                </div>
            </div>
            <div class="lesson">
                <div class="lesson-title"> Lesson 6 - Summary </div>
                <div class="notion">
                    <div class="notion-title">Validation
                    </div>
                    <div class="notion-description">
            Validation means verifying on server side that what the information received is the information expected based on checking against a set of rules we implemented in the code. Validation is necessary to ensure that a program is running on clean and useful data, it is important for security, but also it provides a better user experience overall.      
                    </div>
                </div>
                <div class="notion">
                    <div class="notion-title">String substitution
                    </div>
                    <div class="notion-description">
            <p>If we have a string in Python we can have some parts or all of it replaced using string substitution. </p>

            <p>For example:</p>

            <p>We have a general example looking this like: “< b > %s </ b > “ %var  - whatever we put instead of var will reflect in the string between “” as it will replace s. </p>

            <p>Let’s say that a=”Hello” then we have “< b > %s </ b >” %a turn into “< b > Hello </ b >”.</p>
            
                    </div>
                </div>
                <div class="notion">
                    <div class="notion-title">Optional parameters 
                    </div>
                    <div class="notion-description">

            You can specify a value for the optional parameter when calling the function but it is not mandatory. If a value if not specified then it will take the default value. 
            
                    </div>
                </div>
                <div class="notion">
                    <div class="notion-title">Escaping
                    </div>
                    <div class="notion-description">
            When receiving input from users the escaping function is useful in order to avoid having the content of the webpage ruined. For example, when a user submits < b >text< / b > it will show up exactly like this and the bold effect will not be present.             
                    </div>
                </div>
            </div>
            <div class="lesson">
                <div class="lesson-title"> Lesson 7 - Summary </div>
                <div class="notion">
                    <div class="notion-title">Templates
                    </div>
                    <div class="notion-description">
            A template library is a library that can help produce overcomplicated strings such as HTML having the main role of avoiding repetition by not having to write the same code twice when you can just replace it. HTML templates are very important in maximizing code usage, they eliminate the need to rewrite the same piece of code twice which also impacts the time one spends developing a project, but also when changes are needed only the template will need to be modified and not the content. Also, templates make it harder for mistakes to occur in the code as it does not need to be retyped and it helps with the overall debugging.              
                    </div>
                </div>
                <div class="notion">
                    <div class="notion-title">Statement syntax 
                    </div>
                    <div class="notion-description">
            { %  statement % }
            { % end statement % }

            <p>This works for if, for and even for large pieces of content. </p>
            
                    </div>
                </div>
                <div class="notion">
                    <div class="notion-title">Why use templates?
                    </div>
                    <div class="notion-description">
            Templates are used to separate different types of code and at the same time they make code more readable. They are also useful in crating a secure website and making the html easier to modify.             
                    </div>
                </div>
            </div>
            <div class="lesson">
                <div class="lesson-title"> Lesson 8 - Summary </div>
                <div class="notion">
                    <div class="notion-title">Databases 
                    </div>
                    <div class="notion-description">
            Database is a program that stores and returns large amount of structured data, but it can also refer to the machine or system of machines running the data.            
                    </div>
                </div>
                <div class="notion">
                    <div class="notion-title"> Why use databases?
                    </div>
                    <div class="notion-description">
            Databases are useful for manipulating large chucks of data and answering queries on the data in a short amount of time which is much faster than doing it by hand and without error.             
                    </div>
                </div>
                <div class="notion">
                    <div class="notion-title">Types of databases 
                    </div>
                    <div class="notion-description">
            Relational databases or SQL such as MySQL used by Facebook, PostgreSQL used at Reddit, SQLite which cannot be used for working with large amount of data. Other databases include the Google App Engine datastore, Amazon Dynamo, NoSQL. 
            
                    </div>
                </div>
                <div class="notion">
                    <div class="notion-title">SQL
                    </div>
                    <div class="notion-description">
            SQL or Structured Query Language is not a programming language, but a language used for queries and can be used on a relational database to get data out of it.             
                    </div>
                </div>
                <div class="notion">
                    <div class="notion-title">Indexes
                    </div>
                    <div class="notion-description">
            Indexes increase the speed of databases, but if they are used they make it mandatory to keep them up to date when the database is updated.             
                    </div>
                </div>
                <div class="notion">
                    <div class="notion-title">ACID
                    </div>
                    <div class="notion-description">
            <ul>
                <li>Atomicity – all parts of a transaction fail or succeed together</li>
                <li>Consistency – the database will always be consistent </li>
                <li>Isolation – no transaction can interfere with another </li>
                <li>Durability – once a transaction is counted it will not be lost </li>
            </ul>
            <p>Overall, ACID is a set of properties that ensure the database is reliable. 
            </p>
                    </div>
                </div>
            </div>
        </div>
</div>

<div class="form">
    <form align="center" action="/comments" method='post'>
        Name: <br>
                <input type='text' name='name'/> 
                <br/>
        Comment:
                <br/>
                <textarea name='comments' rows="3" cols="60"></textarea>
                <br/>
            <input type='submit' value='Submit' />  
    </form>
</div>

<div class="comment">
    <b>Comments:</b>
    {% for comment in comments %}
        <br>
        <center>
        {% if comment.content != '' %}
            {% if comment.name != '' %}
                <b>{{ comment.name }}</b> wrote:
            {% else %}
                <b>Anon.</b> wrote:
            {% endif %}
            <blockquote>{{ comment.content}}</blockquote> 
        {% endif %}
        
    </center>
    {% endfor %}
</div>


{% endblock %}